{% extends 'base.html.twig' %}
{% block title %}Trouvez un club{% endblock %}

{% block meta %}
    <!-- Meta Page -->
    <meta name="description" content="Présentation des clubs affiliés à la FFRoller"/>
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
{% endblock %}

{% block body %}
    <!-- Content Page -->
    <div data-clubs="{{ listeClubs|json_encode }}"></div>

    <div class="col-8 head_page">
    <div class="col- conteneur_h2">
            <div class="yellow_bar"><h2>#Trouver votre club</h2></div>
    </div>
    </div>
    
    <div class="conteneur_searchbar col-8">
        <input class="col-12" type="search" placeholder="Paris" name="the_search">
        <i class="icone_search fa fa-search" aria-hidden="true"></i>
    </div>

    <div class="col-8 conteneur_clubs_list">
    {% for listeClubs in listeClubs %}
        <div class="col-11 conteneur_club">
            <h3>{{listeClubs.title}}</h3><br/>
            <p>{{listeClubs.description|raw}}</p>
            <p>Tel : {{listeClubs.tel}} - Mail : {{listeClubs.mail}}</p>
            <p>{{listeClubs.site}}</p>
            <br/>
            <div class="sep-black col-3"></div>
        </div>
    {% endfor %}
    </div>

    <div id="map"></div>

{% endblock %}

{% block javascripts %}
    <!-- Javascript -->
    <script src="https://maps.googleapis.com/maps/api/js?key= AIzaSyAH_ZZ2yFCuljC35ZKTChvDBRS5ZS5Q_EQ&callback=initMap"
    async defer></script>
    <script>
            var map;
        
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 6,
                  center: new google.maps.LatLng(48.856614, 2.352222),
                  mapTypeId: 'terrain'
                });
        
                var markers = [
        
                    {% for listeClubs in listeClubs %}
                    {
                        name: '{{ listeClubs.title }}',
                        address: '{{ listeClubs.description}}',
                        lat: '{{ listeClubs.lattitude }}',
                        lng: '{{ listeClubs.longitude }}',
                    },
                    {% endfor %}
                    ]
                    //console.log(markers);
        
                for (i=0;i<markers.length;i++){
                    var Lat = parseInt(markers[i].lat);
                    var Lng = parseInt(markers[i].lng);
                    var LatLng = {lat: Lat, lng: Lng};
                    //console.log(LatLng);
                    var marker = new google.maps.Marker({
                        position:LatLng,
                        map: map,
                        title: markers[i].name,
                      }); 
                  }

                marker.addListener('click', function() {
                    infowindow.open(map, marker);
                });
                
              }
                initMap();
        </script>

{% endblock %}