{% extends 'base.html.twig' %} 
{% block title %} Titre de ma page {% endblock %}

{% block meta %}
    <!-- Meta Page -->
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
{% endblock %}

{% block body %}
    <!-- Content Page -->
    <div class="col-12 conteneur_h1_blanc" style="background-image:url(/img/category/{{listeSports.image}})">
        <div class="fond_blanc">
            <h1>#{{listeSports.title}}</h1>
            <p> {{listeSports.description|raw}} </p>
        </div>
    </div>

    <div class="col-12 conteneur_ksp">
        <div class="ligne_ksp col-4 col-xs-12">
            <h3><span>#1</span>{{listeSports.titlek1}}</h3>
            <p>{{listeSports.ksp1}}</p>
        </div>

        <div class="ligne_ksp col-4 col-xs-12">
            <h3><span>#2</span>{{listeSports.titlek2}}</h3>
            <p>{{listeSports.ksp2}}</p>
        </div>
    
        <div class="ligne_ksp col-4 col-xs-12">
            <h3><span>#3</span>{{listeSports.titlek3}}</h3>
            <p>{{listeSports.ksp3}}</p>
        </div>
    </div>

    <div class="col-12 conteneur_caroussel"> 
        <div class="col-8 owl-carousel">
            {% for listeArticles in listeArticles %}
            <div class="background-carroussel">
            <div class="handler_hover" data-image="{{listeArticles.image}}">
                    <h3>#Articles</h3>
                    <div class="hover_slider">
                        <p>{{ listeArticles.title }}</p>
                        <br/>
                        <p>{{ listeArticles.description|slice(0, 200)|raw}}...<br/> <a href="{{path('ficheArticle', {'slug':listeArticles.slug} )}}">En savoir + </a></p>
                    </div>
            </div>
        </div>
            {% endfor %}
          </div>
    </div>

    <div class="col-12 conteneur_link">
            <a href="{{path('clubs')}}"><p class="col-6"><span>#trouverunclub</span></br>
                Trouver un club près de chez vous !</p>
                <div class="col-6 fleche_link"></div>
            </a>
    </div>
{% endblock %}

{% block javascripts %}
    <!-- Javascript -->
    <script>
            elements = document.querySelectorAll(".handler_hover");
            //console.log(elements);
            for (var i = 0; i < elements.length; i++) {
                var image = $(elements[i]).attr("data-image");
                console.log(image);
                var a = "/img/articles/"+image;
                $(elements[i]).parent().css("background-image","url("+a+")");

              }
    </script>
{% endblock %}