{% extends 'base.html.twig' %}
{% block title %}Catégorie des sports{% endblock %}

{% block meta %}
    <!-- Meta Page -->
    <meta name="description" content="Liste des disciplines de la FFRoller"/>
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
{% endblock %}

{% block body %}
    <!-- Content Page -->
    <div class="col-12 conteneur_h1_2 bg_category">
            <h1>Catégories<br/><span>des sports</span></h1>
        </div>
    <div class="fond"></div>
    <div class="col-12 conteneur_category">
    {% for listeSports in listeSports %} 
        {% set img = loop.index + 1 %}
        {% set listeSportsTitle = listeSports.title|split(' ') %}
       <div class="col-2 bloc_category" data-image="{{listeSports.image}}">
           <center>
           <img src="../img/picto/{{img}}.png" alt="icone-"{{listeSports.tile}}"" alt="image-"{{listeSports.image}}"" title="{{listeSports.image}}"">
            </center>
           <a href="{{path('ficheSport', {'slug':listeSports.slug} )}}">
               <p>{{listeSportsTitle[0]}}
                <br/>   
                <span>{{listeSportsTitle[1]}}</span>
                </p>
            </a>
    </div>
    {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    <!-- Javascript -->
    <script type="text/javascript">

          $(".bloc_category").hover(
            function(){
            var image = $(this).attr("data-image");
            var a = "/img/category/"+image;
            $(this).css("background-image","url("+a+")");
        },function(){
            $(this).css("background-image","");
        }
        );
</script>
{% endblock %}