{% extends 'base.html.twig' %}
{% block title %} Titre de ma page {% endblock %}

{% block meta %}
    <!-- Meta Page -->
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
{% endblock %}

{% block body %}
    <!-- Content Page -->
    <div class="col-12 conteneur_h1_2">
        <h1>Toutes les<br/><span>actualités</span></h1>
    </div>
<div class="fond"></div>
<div class="col-12"></div>
<div class="conteneur_article_list col-12">

    {% for listeArticles in listeArticles %}
        <div class="conteneur_article_preview col-12">
            <h2><span>#</span>{{listeArticles.title}}</h2>
            <p>
                {% autoescape %}
                {{listeArticles.description|slice(0, 200)|raw}}... <a href="{{path('ficheArticle', {'slug':listeArticles.slug} )}}">En savoir + </a>
                {% endautoescape %}
            </p>
            <div class="img_article_prev"><img src="{{asset('img/articles/')}}{{listeArticles.image}}"></div>
        <br/>
        <p><i>le {{listeArticles.createdAt|date('d-m-Y') }} par {{listeArticles.author}}</i></p>
        <br/><div class="col-6 sep-black"></div><br/>
        </div>
    {% endfor %}

</div>

{% endblock %}

{% block javascripts %}
    <!-- Javascript -->
{% endblock %}