{% extends 'base.html.twig' %} 

{% block title %}{{listeArticles.title}}{% endblock %}

{% block meta %}
    <!-- Meta Page -->
    <meta name="description" content="News FFRoller"/>
{% endblock %}

{% block stylesheets %}
    <!-- CSS Page -->
{% endblock %}

{% block body %}
    <!-- Content Page -->
    <div class="col-12 conteneur_h1_2 bg_article">
        <h1>#{{listeArticles.id}}</h1>
    </div>
    <div class="fond"></div>

    <div class="col-8 col-xs-10 conteneur_article">
        <h2><span>#</span> {{listeArticles.title}}</h2>
        <p>{{listeArticles.description|raw}}</p>
        <br/>
        <p><i>le {{listeArticles.createdAt|date('d-m-Y') }} par {{listeArticles.author}}</i></p>
        <br/>
        <div class="img_article_prev"><img src="{{asset('img/articles/')}}{{listeArticles.image}}" alt="image-"{{listeArticles.image}}"" title="{{listeArticles.image}}""></div>
    </div>

    <a href="{{path('article')}}"><button class="submit">Toutes les actualités</button></a>        

{% endblock %}

{% block javascripts %}
    <!-- Javascript -->
{% endblock %}